* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 2000px) {
  /* Định dạng của các khối khi màn hình có chiều rộng nhỏ hơn 2000px; */
  #content{
    align-items: center;
  }
  #title {
    background-color: #b40404;
    width: 500px;
    text-align: center;
  }
  #title > h1 {
    font-family: Roboto Thin;
    color: white;
    font-size: 48px;
  }
  #body {
    width: 500px;
    text-align: center;
    background-color: #e0f8f7;
  }
  #body > p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: system-ui;
  }
  #body > input {
    margin-bottom: 20px;
    width: 180px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }
  #body > button {
    height: 35px;
    width: 80px;
    background-color: #82fa58;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 480px) {
  /* Định dạng của các khối khi màn hình có chiều rộng nhỏ hơn 480px; */
  #title {
    background-color: #b40404;
    width: 300px;
    text-align: center;
  }
  #title > h1 {
    font-family: Roboto Thin;
    color: white;
    font-size: 24px;
  }
  #body {
    width: 300px;
    text-align: center;
    background-color: #e0f8f7;
  }
  #body > p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: system-ui;
    word-wrap: break-word;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  }
  #body > input {
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }
  #body > button {
    height: 30px;
    width: 100px;
    background-color: #82fa58;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }
}
